.gdb_history
.kdev4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
mu-conference.pid
muc.kdev4
muc.xml.dist
muclinker.localhost
scripts/change_nameprefix.sh
scripts/create_room.sh
scripts/room.dist
scripts/roommaker.pl
scripts/roomname.pl
src/.deps
src/admin.o
src/conference.o
src/conference_room.o
src/conference_user.o
src/expat.o
src/hash.o
src/iq.o
src/jabberd/expat.o
src/jabberd/jid.o
src/jabberd/jpacket.o
src/jabberd/jutil.o
src/jabberd/pool.o
src/jabberd/sha.o
src/jabberd/snprintf.o
src/jabberd/str.o
src/jabberd/xmlnode.o
src/jcomp/jcr_base_connect.o
src/jcomp/jcr_compatibility.o
src/jcomp/jcr_deliver.o
src/jcomp/jcr_elements.o
src/jcomp/jcr_log.o
src/jcomp/jcr_main_stream_error.o
src/jcomp/jcr_shutdown.o
src/jcomp/jcr_xdb.o
src/jcr_base_connect.o
src/jcr_compatibility.o
src/jcr_deliver.o
src/jcr_elements.o
src/jcr_log.o
src/jcr_main_stream_error.o
src/jcr_shutdown.o
src/jcr_xdb.o
src/jid.o
src/jpacket.o
src/jutil.o
src/libjcomp.a
src/main.o
src/mu-conference
src/muc
src/mysql.o
src/ndn.o
src/pool.o
src/roles.o
src/sha.o
src/snprintf.o
src/str.o
src/utils.o
src/xdata.o
src/xdb.o
src/xmlnode.o
stamp-h1
syslogs
